<h2>Hi Manager!</h2>
<!-- <div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
          <a routerLink="view-warehouse" class="nav-link" class="btn btn-primary active" role="button" >View Warehouse</a>  
        </li>   
        <li class="nav-item">  
          <a  routerLink="add-warehouse" class="nav-link" class="btn btn-primary active" role="button" >Add Warehouse</a>  
        </li>            
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>   -->
<!-- <app-warehouse-list></app-warehouse-list> -->
<div>
  <app-shoe-list></app-shoe-list>
  <app-warehouse-list></app-warehouse-list>
</div>
