<p>shoe-list works!</p>

<ul>
    <li *ngFor="let shoe of shoes">
        {{ shoe.name }}
    </li>

</ul>


<table>
    <thead>
        <tr><th>ID</th><th>Name</th><th>Capacity</th><th>Brand</th><th>Color</th><th>Size</th><th>Location</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let shoe of shoes">
            <td>{{shoe.id}}</td>
            <td>{{shoe.name}}</td>
            <td>{{shoe.brand}}</td>
            <td>{{shoe.color}}</td>
            <td>{{shoe.size}}</td>
            <td>{{shoe.location}}</td>
        </tr>
    </tbody>
</table>