<div>
  <!-- header -->
  <header>
    <div style="text-align: center; font-family: cursive; font-size: 100px; background-color: #343A40; color: aliceblue;">Shoe Inventory</div>
    <div style="background-color: #8a7a33; color: #8a7a33; font-size: 1px;"> i</div>
  </header>

  
  <!-- Top navigation -->
  <div class="topnav">

    <!-- Centered link -->
    <div class="topnav-centered">
      <a href="" class="active">List all shoes</a>
    </div>

    <!-- Left-aligned links (default) -->
    <a href="add">Add new shoe </a>
    <a></a>
    <a href="warehouses">List Warehouses</a>

    <!-- Right-aligned links -->
    <div class="topnav-right">
      <a>Current Capacity: total_capacity</a>
    </div>

  </div>
  
  <div class="container-fluid">
    <app-find-shoe></app-find-shoe>
    <br><br>
    <router-outlet></router-outlet>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
  
  <!-- <div>
    <router-outlet></router-outlet>
  </div> -->
    

  <!-- footer -->
  <footer style="background-color: #343A40;">
    <div class="container.fluid">
      <div style="color:aliceblue; font-family:cursive; font: size 100px; ">Powered By <img width="250" height="50" src="../assets/images/skillstorm.png" alt="skillstorm-logo"> </div>
      
    </div>

  </footer>

</div>